/* .success{
    color : green
} */

.cardcontainer{
    position: fixed;
    top: 30%;
    left: 40%;
    margin-top: -40px;
    margin-left: -90px;
    width: 500px;
    height:300px;
    background-color: rgb(247, 235, 213);
    box-shadow: 0px 0px 15px -5px;
}


.cardcontainer1{
    width: 400px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    background-color: rgb(247, 81, 108);
    color: white;
    border-radius: 15px;
    height:100px;
    padding-bottom: 15px;
    padding-left: 12px;
    position: fixed;
    top: 40%;
    left: 40%;
    margin-top: -90px;
    margin-left: -60px;

}

.title {
    text-align: left;
}

.body {
    text-align: center;
    font-style: italic;
    
}
