.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

hr {
  color: rgba(226, 247, 240, 0.2);
  margin: 10px 0;
}

br {
  margin: 0;
}

.font {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.grid {
  display: grid;
  grid-gap: 20px 20px;
  overflow: scroll;
}

/* if screen is greater than */
@media screen and (min-width: 900px) {
  hr {
    color: rgba(226, 247, 240, 0.2);
    /* margin: 45px 0; */
  }

  br {
    margin: 15px 0;
  }
}